<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body ng-app="app">

    <div ng-controller="mainController as mainCtrl">

        <header>
            <nav class="navbar navbar-light bg-light navbar-expand-md">
                <a class="navbar-brand">
                    <img ng-src="{{ mainCtrl.apexLogo }}" alt="APEX Signature Validation Tool" />
                </a>
                <ul class="navbar-nav">
                    <li ui-sref-active="active" class="nav-item">
                        <a ui-sref="signatureValidator" class="nav-link">Signature Validator</a>
                    </li>
                    <li ui-sref-active="active" class="nav-item">
                        <a ui-sref="joseValidator" class="nav-link">JOSE Validator</a>
                    </li>
                </ul>
            </nav>
        </header>

        <ui-view></ui-view>

        <div class="footer">
            <p style="text-align: center;">v{{ mainCtrl.version }} © Government Technology Agency of Singapore. All
                Rights Reserved.</p>
        </div>

    </div>

</body>

</html>